In [21]:
import requests
import pandas as pd

In [34]:
# API configuration
API_KEY = "186ce27344ed40c9a4a164814250806"  # Consider using environment variables for security
BASE_URL = "https://api.weatherapi.com/v1/current.json"
kenyan_cities = ["Nairobi", "Mombasa", "Kisumu", "Nakuru", "Eldoret"]

In [35]:
# Initialize list to store weather data
weather_data = []

In [36]:
for city in kenyan_cities:
    try:
        # Make API request
        params = {
            'key': API_KEY,
            'q': city,
            'aqi': 'no'
        }
        response = requests.get(BASE_URL, params=params)
        response.raise_for_status()  # Raises an error for bad status codes

        # Extract relevant data
        data = response.json()
        current = data['current']
        location = data['location']

        # Store cleaned data
        weather_data.append({
            'city': location['name'],
            'region': location['region'],
            'country': location['country'],
            'local_time': location['localtime'],
            'temp_c': current['temp_c'],
            'temp_f': current['temp_f'],
            'condition': current['condition']['text'],
            'wind_kph': current['wind_kph'],
            'humidity': current['humidity'],
            'cloud': current['cloud']
        })

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data for {city}: {e}")
    except KeyError as e:
        print(f"Unexpected data structure for {city}: {e}")

In [37]:
# Convert to DataFrame
weather_df = pd.DataFrame(weather_data)

In [38]:
weather_df

,city,region,country,local_time,temp_c,temp_f,condition,wind_kph,humidity,cloud
0,Nairobi,Nairobi Area,Kenya,2025-06-11 16:04,23.2,73.8,Partly cloudy,11.9,47,75
1,Mombasa,Coast,Kenya,2025-06-11 16:04,28.3,82.9,Partly cloudy,27.4,70,75
2,Kisumu,Nyanza,Kenya,2025-06-11 16:05,27.0,80.6,Patchy rain nearby,9.4,54,25
3,Nakuru,Rift Valley,Kenya,2025-06-11 16:04,25.2,77.4,Partly cloudy,11.2,44,50
4,Eldoret,Rift Valley,Kenya,2025-06-11 16:04,24.3,75.7,Partly cloudy,4.3,39,50